/*-- scss:defaults --*/
$body-bg: #ffffff;
$body-color: #111111;

/*-- scss:rules --*/
.reveal .slides {
  background-color: #ffffff !important;
  color: #111111 !important;
}

h2 {
  font-size: 90% !important;
}